# Lambda Function

Nameless or ananymous Function

In [6]:
def square(n):
    return n**2
square(5)

25

Lambda parameters : expression /LOgic

In [7]:
C = lambda n : n**2
C(5)

25

Sum of give numberm

In [4]:
def add(*n):
    return sum(n)

In [5]:
add(1,2,3,4,5)

15

In [8]:
C = lambda *n : sum(n)

In [10]:
C(1,2,3,4,5,6,7,8,9)

45

In [11]:
#create a lambda function to find square root of given values

In [13]:
C = lambda n : n**2
C(6)

36

In [14]:
#Create  lambda function that will perform addition of three numbers

In [15]:
a = lambda *n : sum(n)
a(3,6,2)

11

In [17]:
val = lambda x,y,z : x+y+z
val(10,15,20)

45

Recursion :
    
    The function calls itself. (or) Function in the same function.

# Recursive Functions

In [1]:
def factorial(n):
    if n== 0 or n==1:
        return 1
    else:
        fact = n * factorial(n-1)
    return fact

In [3]:
factorial(10)

3628800

# Factorial:

1! =1
0! =1

formula :
    n* factorial(n-1)

# Fibonacci Sequence

In [17]:
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-1)+fib(n-2)

In [18]:
fib(6)

8

In [19]:
n = 8
for i in range(n):
    print(fib(i))

0
1
1
2
3
5
8
13

In [33]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)

In [34]:
n=5
for i in range(n):
    print(fib(i))

0
1
1
2
3

In [35]:
#ask user to enter find the to entering the number to find the numbers of sequance in fibonacci sequancem

In [30]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)

In [31]:
n = int(input("enter the number :: "))
for i in  range(n):
    print(fib(i))

enter the number :: 12
0
1
1
2
3
5
8
13
21
34
55
89

# Filter Function

filter() :
    
    Based condition in function.
    
    
    filter(functionname , values/Sequance(list,tuple or sting))

filter(fname , sequeance)
 seq = [1,2,3,4,5,6,7,8]
    find/filter only even numbers

In [4]:
def even(n):
    if n%2 == 0:
        return n

In [5]:
list1 = [1,2,3,4,5,6,7,8]

In [6]:
list(filter(even,list1))

[2, 4, 6, 8]

In [2]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(filter(lambda x: x%2==0,[2,5,7,9,10,15,25]))

[2, 10]

#using filter function find only postive values in [1,-10,2,0,15,21,56,-1,0.5,-3]

In [12]:
def fun(n):
    if n%2 == 0:
        return n

In [15]:
list1 = [1,2,0,15,21,56,0.5]

In [16]:
list(filter(fun,list1))

[2, 56]

In [17]:
list(range(0,56))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55]

In [ ]:
filter(lambda x:x>=0,[1,-10,2,0,15,21,56,-1,0.5,-3])

Mapping():
    
    
    map(function,sequence)

# map()

In [18]:
def fun(n):
    if n%2 ==0:
        return "Even"
    else:
        return "odd"

In [19]:
values = list(range(51,65))
values

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]

In [24]:
list(map(fun,values))

['odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even']

In [25]:
list2 =[1,-10,2,0,15,21,56,-1,0.5,-3]

def f(n):
    if n>=0:
        return"p"
    else:
        return "N"

In [26]:
list(map(f,list2))

['p', 'N', 'p', 'p', 'p', 'p', 'p', 'N', 'p', 'N']

In [27]:
set(map(f,list2))

{'N', 'p'}

#Take combination of numbers take integers float and string and print only float values.
2. print only strings

3. in the place of integer values or replace integer values with a name is called integer.

In [ ]:
def fun(n):
    if n%2 ==0:
        return "Even"
    else:
        return "odd"

Reduce:
 
Single value.
    
    
    *filter*() -- condition (x %2 == 0)
    *map() -- every functionality on every element in sequance

# Reduce()

In [1]:
reduce()

NameError: name 'reduce' is not defined

In [2]:
filter()

TypeError: filter expected 2 arguments, got 0

In [6]:
from  functools import reduce

In [7]:
def add(x,y):
    return x+y

In [8]:
val = list(range(1,10))

In [9]:
reduce(add,val)

45

In [12]:
def fact(a,b):
    return a*b

In [13]:
n = int(input("Enter a number to find the factorial:: "))
seq = tuple(range(1,n+1))
reduce(fact,seq)

Enter a number to find the factorial:: 5

120

# Zip()

In [15]:
fruits = ["apple","watermelon","Banana","Grapes","Orange"]
veg = ("Tomoto","carrot","potato","Onion")
number = (1,2,3,4,5,6)
for i in zip(fruits,veg ,number):
    print(i)

('apple', 'Tomoto', 1)
('watermelon', 'carrot', 2)
('Banana', 'potato', 3)
('Grapes', 'Onion', 4)

### Enumerate()

*Count the number of iteration
* if we want to assign an index number.

In [16]:
for i in enumerate(fruits):
    print(i)

(0, 'apple')
(1, 'watermelon')
(2, 'Banana')
(3, 'Grapes')
(4, 'Orange')

In [18]:
for i in enumerate(fruits,5):
    print(i)

(5, 'apple')
(6, 'watermelon')
(7, 'Banana')
(8, 'Grapes')
(9, 'Orange')

In [20]:
for i in enumerate(veg,2):
                  print(i)

(2, 'Tomoto')
(3, 'carrot')
(4, 'potato')
(5, 'Onion')

In [30]:
for i in enumerate(number,1):
    print(i)

(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)

Create a function that accepts multiple values and return to sum of all numbers

1.using normal method
2.using lambda function 
3.using reduce function

In [4]:
#normal method 

def add(*n):
    return sum(n)
add(2,3,6,7,9)

27

In [5]:
#lambda

c = lambda *n: sum(n)
c(10,20,30,40)

100

In [6]:
#reduce

from functools import reduce
reduce(add,[22,13,15,16])

66

web = ["www.fb.com","http://insta.com","www.innomatics.com","www.hdfc","htt.oracle.com","www.hy.co.in"]


-->find the valid websites using

*procedure


*function


*lambda


*filter function

In [1]:
#Normal Method:
web = ["www.fb.com","http://insta.com","www.innomatics.com","www.hdfc","htt.oracle.com","www.hy.co.in"]
for i in web:
    if i.startswith(('www,http://')) and i.endswith(('.com','co.in')):
        print(i)

In [2]:
#Functional Programming

def vali(*n):
    for i in n:
        if i.startswith(('www.','https://%27%29/') and i.endswith('.com','co.in')):
            print(i)

In [3]:
#Lambda Function

c = lambda i :i.startswith(('www.','https://%27%29/) and i.endswith(('.com','co.in'))
for i in web :
    print(c(i))
Filter:

list(filter(valid,web))
for i in web :
    if c(i) == True:
        print(i)

SyntaxError: unterminated string literal (detected at line 3) (1115749527.py, line 3)